.logo {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 2.3rem;
  overflow-y: hidden;
}

.logo a {
  text-decoration: none;
}

.logo h3 {
  color: black;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  transition: transform 0.2s ease;
  /* animation: logoAnimation 1s ease-out forwards; */
}

.logo h3:hover {
  transform: scale(1.04);
}

/* @keyframes logoAnimation {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
} */
